.realtors {
  // display: none !important;

  background-color: $color-secondary;

  grid-area: realtors-start / col-start 7 / realtors-end / full-end;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  // Better
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  justify-items: center;

  // Not going to work because of the background color!
  // justify-self: center;
  // align-self: center;

  // Why?!
  padding: 3rem;

  @media only screen and (max-width: $bp-800px) {
    grid-area: realtors-start / full-start / realtors-end / full-end;
  }

  &__header {
    // @media only screen and (max-width: $bp-800px) {
    //   display: none;
    // }
  }

  &__list {
    display: grid;
    // grid-template-columns: min-content 1fr;
    grid-template-columns: min-content max-content;
    row-gap: 5vh;
    // Would be better for tall screens
    column-gap: 2rem;
    align-items: center;

    // width: 80%;

    @media only screen and (max-width: $bp-800px) {
      grid-template-columns: repeat(3, min-content max-content);
      /* grid-template-columns: repeat(6, min-content max-content); */
    }

    @media only screen and (max-width: $bp-600px) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;

    display: block;
  }

  &__details {
    /*  */
  }

  &__sold {
    text-transform: uppercase;
    color: $color-gray-light-2;
    margin-top: -3px;
  }
}
